name: Cennso Release

on:
  workflow_dispatch:

jobs:
  push-to-cur:
    name: "cur-release"
    runs-on: [ubuntu-24.04]
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Login to Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ${{ secrets.CUR_REGISTRY_DOMAIN }}
          username: ${{ secrets.CUR_REGISTRY_USERNAME }}
          password: ${{ secrets.CUR_REGISTRY_PASSWORD }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: |
            ${{ secrets.CUR_REGISTRY_DOMAIN }}/${{ secrets.CUR_PROJECT_NAME }}
          tags: |
            type=semver,pattern={{raw}}
          flavor: |
            latest=false
            prefix=
            suffix=
      - name: Build and push
        uses: docker/build-push-action@ca052bb54ab0790a636c9b5f226502c73d547a25 # v5.4.0
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            ${{ steps.meta.outputs.tags }}
